* {
      background-color: rgb(238, 238, 238);
      box-sizing: border-box;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-family: 'Merriweather', serif;;
      margin: 0;
      padding: 0;
  }
html {
      font-size: 62.5%;
  }
/* Header */
#nav_container {
      display: none;
  }
.navbar-expand-lg {
      background-color: transparent;

     /* Fondo transparente */
  }
img{
      background-color: transparent;
      margin-right: 10px;
  }
a {
      background-color: transparent;
      color: azure;
      size: 1.6rem;
      text-decoration: none;
  }
/* Main */
#main-container{
      align-items: center;
      background-attachment: fixed;
      background-color: #49C3FF;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.25'%3E%3Ccircle fill='%2349C3FF' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%235c97f6' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%236e7aee' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23947fe7' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23b78fe1' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23CE9EDC' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
      background-size: cover;
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      width: 100vw;
  }
.carrito-container{
      align-items: center;
      background-color: rgb(23, 107, 135);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      height: 80%;
      justify-content: space-around;
      padding-top: 20px;
      width: 80%;
  }
.productos-container{
      align-items: center;
      background-color: rgb(238, 238, 238);
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      height: 90%;
      justify-content: flex-start;
      width: 60%;
  }
.product-card{
      background-color:papayawhip;
      border: 2px solid rgb(5, 59, 80);
      border-radius: 4px;
      height: 100px;
      margin-top: 15px;
      width: 90%;
      z-index: 1;
  }
.product-card p{
      background-color: transparent;
      color: black;
      font-size: 1rem;
      font-size: 1.4rem;
  }
.pago-container{
      align-items: center;
      background-color: rgb(238, 238, 238);
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      height: 300px;
      justify-content: center;
      margin-bottom: 20px;
      margin-top: 30px;
      width: 60%;
  }
.pago-descripcion{
      text-align: start;
  }
.Btn {
      align-items: center;
      background-color: rgb(15, 15, 15);
      border: none;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
      color: white;
      cursor: pointer;
      display: flex;
      font-weight: 600;
      gap: 8px;
      height: 40px;
      justify-content: center;
      margin-top: 30px;
      overflow: hidden;
      position: relative;
      transition-duration: .3s;
      width: 130px;
  }  
  .svgIcon {
      width: 16px;
  }  
  .svgIcon path {
      fill: white;
  }  
  .Btn::before {
      background-color: white;
      border-radius: 50%;
      content: "";
      height: 130px;
      left: -100%;
      mix-blend-mode: difference;
      position: absolute;
      top: 0;
      transition-duration: .3s;
      width: 130px;
  }  
  .Btn:hover::before {
      border-radius: 0;
      transform: translate(100%,-50%);
      transition-duration: .3s;
  }  
  .Btn:active {
      transform: translate(5px,5px);
      transition-duration: .3s;
  }
  /* Footer */
  #footer-container{
      align-items: center;
      background-color: rgb(5, 59, 80);
      color: white;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;

     /* Centra horizontalmente */
     /* Centra verticalmente */
  }
.contactar-container{
      background-color: transparent;
      flex: 1;
      padding: 20px;
      text-align: center;

     /* Distribuye el espacio disponible entre los contenedores */
     /* Espaciado entre contenedores */
  }
.contactar-container p{
      background-color: transparent;
      text-align: start;
  }
.contactar-container h3{
      background-color: transparent;
      margin-bottom: 30px;
  }
a {
      color: azure;
      size: 1.6rem;
      text-decoration: none;
  }