* {
      box-sizing: border-box;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin: 0;
      padding: 0;
  }  
  html {
      font-size: 62.5%;
  }  
  body {
      align-items: center;
      background-attachment: fixed;
      background-color: #49C3FF;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.25'%3E%3Ccircle fill='%2349C3FF' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%235c97f6' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%236e7aee' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23947fe7' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23b78fe1' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23CE9EDC' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      background-size: cover;
      display: flex;
      height: 1000px;
      justify-content: center;
      width: 100%;
  }  
  main {
      align-items: center;
      display: flex;
      height: 1000px;
      justify-content: center;
      width: 100%;
  }  
  #register_container img {
      height: 15%;
      margin-bottom: 20px;
      width: 30%;
  }  
  #register_container {
      align-items: center;
      background-color: rgb(23, 107, 135);
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      height: 80%;
      justify-content: center;
      width: 60%;
  }  
  #register_form {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 60%;
      justify-content: space-around;
      margin-bottom: 20px;
      width: 70%;
  }  
  label {
      color: white;
      font-size: 1.6rem;
  }  
  input {
      background: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      font-size: 1.6rem;
      outline: none;
      padding: 5px;
      width: 80%;
  }  
  .button {
      background-color: transparent;
      border: 2px solid whitesmoke;
      border-radius: 30px;
      color: #333;
      cursor: pointer;
      height: 50px;
      margin-top: 20px;
      overflow: hidden;
      position: relative;
      transition: all 0.5s ease-in-out;
      width: 80%;
  }  
  .btn-txt {
      font-weight: 800;
      letter-spacing: 4px;
      z-index: 1;
  }  
  .type1::after {
      background-color: #333;
      border-radius: 30px;
      content: "";
      height: 10px;
      left: 0;
      position: absolute;
      top: 0;
      transition: all 0.5s ease-in-out;
      visibility: hidden;
      width: 10px;
      z-index: -1;
  }  
  .button:hover {
      border: none;
      box-shadow: 1px 1px 200px #252525;
      color: #fff;
  }  
  .type1:hover::after {
      transform: scale(100) translateX(2px);
      visibility: visible;
  }  
  a {
      color: azure;
      size: 1.6rem;
  }